:root {
  /* Cores Hexadecimais (Personalizadas) */
  --cor-fundo: #f4f6f0;       /* Fundo claro da página */
  --corsuperficie: #ffffff;   /* Fundo de cartões, avisos e campos */
  --cor-texto: #1f2937;       /* Texto principal */
  --cor-textosuave: #6b7280;   /* Legendas, citações e rodapé */
  --cor-marca: #1e5631;       /* Cor de identidade | Contraste: 8.63:1  */
  --cor-sobremarca: #ffffff;  /* Texto sobre a cor da marca */
  --cor-borda: #e5e7eb;       /* Linhas e contornos */

  /* Tipografia */
  --fonte-texto: system-ui, -apple-system, sans-serif;
  --fonte-titulo: 'Montserrat Alternates', sans-serif;
  

  /* Escala Modular Tipográfica
     Multiplicador: 1.25
     Base: 1rem (16px)
     - Texto: 1rem
     - h3: 1rem * 1.25 = 1.25rem
     - h2: 1.25rem * 1.25 = 1.563rem
     - h1: 1.563rem * 1.25 = 1.953rem
  */
  --tamanho-texto: 1rem;
  --tamanho-h3: 1.25rem;
  --tamanho-h2: 1.563rem;
  --tamanho-h1: 1.953rem;

  /* Espaçamento e Geometria */
  --espaco-1: 0.5rem;
  --espaco-2: 1rem;
  --espaco-3: 1.5rem;
  --espaco-4: 2.5rem;

  --raio: 8px;
  --sombra: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}